.project-section {
    position: relative;
    z-index: 0;
    padding: 60px 0 0 0;
}
.project-section .container {
    text-align: center;
}
.project-section .container .section-title {
    margin-bottom: 15px;
}
.project-section .container h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 75px;
}
.project-section .container .project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    }
.project-section .container .project-grid .project {
    display: block;
    text-decoration: none;
    color: black;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px;
    transition: border 0.15s ease-in-out;	
}
.project-section .container .project-grid .project img {
    width: 100%;
    height: 311px;
    -o-bject-fit: cover;
        object-fit: cover;
    }
.project-section .container .project-grid .project h5 {
    text-align: left;
    font-family: "DM Sans", sans-serif;
    font-size: 22px;
    font-weight: 700;
    padding: 30px 0 15px 0;
    border-bottom: 2px solid rgb(231, 231, 231);

}
.project-section .container .project-grid .project p {
    margin: 20px 20px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    font-family: "Inter"  sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: black;
    
}
.project-section .container .project-grid .project p i {
    margin-left: 5px;
}

.project-section .container .project-grid .project:hover {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.project-section .container .all-projects-link {
    display: inline-block;
    margin: 80px 0 100px 0;
}