.team-section {
    background-color: #F0D082;
    position: relative;
    z-index: 0;
    padding: 60px 0 60px 0;
}
.team-section .container .section-title {
    margin-bottom: 15px;
}
.team-section .container .browse-team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}
.team-section .container .browse-team h2 {
    flex: 1;
    font-family: "DM Sans", sans-serif;
    font-size: 45px;
    font-weight:700;
} 
.team-section .container .team-members {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.team-section .container .team-members .member img {
    height: 420px;
    width: 307px;
    -o-object-fit: cover;
        object-fit :cover;
}
.team-section .container .team-members .member h5 {
    font-family: "DM Sans", sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin: 30px 0 0 0;
}
.team-section .container .team-members .member p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.testimonial-section {
    text-align: center;
    background-color: #f0d082;;
    position: relative;
    z-index: 0;
    padding: 60px 0 0px 0;
    padding-bottom: 120px;
} 
.testimonial-section .container .section-border {
    margin: -50px -90px;
    padding: 120px 80px;
    background: white;
}
.testimonial-section .container .section-border .section-title {
    margin-bottom: 15px;
}
.testimonial-section .container .section-border h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 60px;
}
.testimonial-section .container .section-border .testimonials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    margin-bottom: 40px;
}
.testimonial-section .container .section-border .testimonials .testimonial {
    text-align:left;
}
.testimonial-section .container .section-border .testimonials .testimonial .rating {
margin: 20px 0;
color: #f94d1c;
}
.testimonial-section .container .section-border .testimonials .testimonial .writer {
    text-align: left;
    align-items: center;
    display: grid;
    grid-template-columns: 90px 1fr;
    grid-template-areas: "img name" "img position";
}
.testimonial-section .container .section-border .testimonials .testimonial .writer img {
    grid-area: img;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    -o-object-fit: cover;
        object-fit: cover;
    margin-top: 15px;
}
.testimonial-section .container .section-border .testimonials .testimonial .writer h5 {
    grid-area: name;
    font-family: "DM Sans", sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin: 30px 0 0 0;
}
.testimonial-section .container .section-border .testimonials .testimonial .writer p {
    grid-area: position;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #f94d1c;
}
.testimonial-section .container .section-border a {
    display: inline-block;
    margin: 50px 0 0 0;
}